body {
    --colorPrimary: #4787F5;
    --colorAccent: #F5BD47;
    --colorPrimaryDarker: #6280B5;
    --colorPrimaryDarkest: #5F6878;
    --colorAccent2: #9E8755;
    --colorBackground: #2A2B2D;

    background-color: var(--colorBackground);
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 8px;
    height: 100vh;
    margin: 0;
}

.sidebar {
    background-color: var(--colorAccent);

    margin-top: 8px;
    margin-left: 8px;

}

.sidebar {

}

.sidebar.child {
    padding: 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#main {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 8px;
}

#mainBody {
    background-color: var(--colorBackground);

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 8px;
}

#mainSettings {
    background-color: var(--colorBackground);

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 8px;
    justify-content: center;
}

.main {
    margin-right: 8px;
    margin-top: 8px;
}

.main.child {
    background-color: var(--colorPrimaryDarker);
    
    padding: 12px;
    margin:0;
}

#progressBar {
    display: flex;
    justify-content: space-around;
}

.progressItem {
    width: 100px;
    text-align: center;
}

#dataBody{
    background-color: var(--colorBackground);
    
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 8px;
}

#settingsBody{
    background-color: var(--colorPrimaryDarker);
    
    padding: 8px;
    width: 500px;

    text-align: center;
}

.data.child {
    background-color: var(--colorPrimaryDarker);
}